<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="http://www.dota2.com.cn/favicon.ico" rel="Shortcut Icon">
    <link href="http://www.dota2.com.cn/favicon.ico" rel="bookmark">
</head>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="jumbotron">
<meta charset="utf-8"/>
  <h1>爱生活,爱Dota</h1>


     <p>敌法师闪来闪去消你魔法</p>
    <p>半人马双脚一抬马蹄践踏</p>
    <p>双头龙冰封路径冰火交加</p>
    <p>红血逃跑矮人火枪把你暗杀</p>
    <p>娜迦唱响海妖之歌继续强拆塔</p>
    <p>影魔吟唱魂之挽歌连续三影压</p>
    <p>什么最可怕神牛封路刷新大</p>
    <p>小小山岭VT连击还能长大</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
{% endblock %}
</html>