{% extends "base.html" %}
{% block title %}Dota-攻略{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block page_content %}
    <div class="page-header">

    <ul class="post">
        {% for post in postl %}
        <li class="post">

            <div class="post-date">
                {{ moment(post.timestamp).fromNow() }}
            </div>
            <div class="post-author">
                <a href="{{url_for('.user',username=post.author.username)}}">作者:{{ post.author.username }}</a>
            </div>
            <div class="post-body">
                <p>标题:{{ post.title }}</p>
            </div>
            <div class="post-body">
                <p>内容:{{ post.content }}</p>
            </div>
            <div>
                <a href="{{ url_for('.updatepost')}}">修改帖子</a>
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
