{% extends "base.html" %}
{% block page_content %}
    <h1>profile</h1>
    <address>
  <strong>{% if user.location %}
      From <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D{{ user.location }}">{{ user.location }}</a>
  {% endif %}</strong><br>
</address>
  <strong>{{ user.username }}</strong><br>
  <a href="mailto:">{{ user.email }}</a>
{#    <p>加入于{{ moment(user.member_since).format('L') }}#}
    <p>上次访问于{{ moment(user.last_seen).fromNow() }}</p>

    <p>{{ user.about_me }}</p>

{% endblock %}
